@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-item.active {
    background-color: rgba(0, 0, 0, 0.3);
}